


<div class="container">
  <h1>Todo</h1>
  <div class="loading" *ngIf="loading">
    Task in caricamento...
  </div>
  <input type="text" (ngModel)="newTodoTitle" placeholder="inserisci il testo">
  <button (click)="addTodo()" >Add Todo</button>
  <div class="card-container">
    <div class="card" *ngFor="let todo of todos">
      <div class="card-header">
        <h2>{{ todo.title }}</h2>
      </div>
      <div class="card-body" *ngIf="!loading && todos.length > 0">
        <button (click)="removeTodoById(todo.id)">Rimuovi</button>
        <button (click)="loadCompletedTodos(todo)">aggiungi a completed</button>
      </div>
    </div>
  </div>
</div>
