<<<<<<< HEAD

demo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
    background-color: #feca45;
  }
  .demo__description {
    font-size: 20px;
    padding-bottom: 20px;
  }
  .demo__phone {
    display: -webkit-inline-box;
    position: relative;
    width: 305.25px;
    height: 633px;
    padding-top: 1px;
    background-color: #120d30;
    border-radius: 40px;
  }
  .demo__notch {
    position: absolute;
    top: 0px;
    left: 74.25px;
    height: 22.5px;
    width: 132.75px;
    background-color: #120d30;
    border-radius: 0 0 15px 15px;
  }
  .demo__screen {
    position: relative;
    height: 609px;
    width: 281.25px;
    padding-top: 25px;
    background: linear-gradient(#4cb3c5, #ccc6e0);
    border-radius: 30px;
    cursor: -webkit-grab;
    cursor: grab;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    perspective: 700px;
  }
  .demo__screen-wrapper {
    position: relative;
    height: 609px;
    width: 281.25px;
    margin-top: 11px;
    margin-left: 12px;
    overflow: hidden;
    border-radius: 30px;
  }
  .demo__indicator {
    position: absolute;
    top: 2.5px;
    font-size: 11px;
    color: white;
  }
  .demo__indicator--time {
    left: 18.75px;
  }
  
  .demo__controls {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 6.25px 0;
    font-size: 18.75px;
    
  }
  
  .demo__card {
    position: relative;
    margin: 9px;
    height: 142.5px;
    width: calc(100% - 18px);
    font-size: 17.5px;
    border-radius: 5px;
    transform-style: preserve-3d;
  }
  
  
  .demo__card-frontside {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 9px;
    padding-bottom: 4.5px;
    background-color: rgb(233, 219, 219);
    border-radius: 5px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .demo__card-type {
    padding-left: 18px;
    font-size: 13.5px;
    color: #aaa;
  }
  .demo__card-body {
    display: flex;
    align-items: center;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 9px;
    padding-bottom: 9px;
  }
  .demo__card-picture {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .demo__card-picture-contatti {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKpn4d4p8frRVTjDIXn-cxLfjHrzxvt4ibpSwjELOzPcfWfH0RLB0RiNKXCVEEviPkBkU&usqp=CAU);
  }
  .demo__card-picture-telefono {
    background-image: url(https://banner2.cleanpng.com/20180323/yie/kisspng-iphone-telephone-call-smartphone-clip-art-phone-5ab5b8cb2a1c31.3051321715218587631725.jpg);
  }
  .demo__card-picture-costi {
    background-image: url(https://e7.pngegg.com/pngimages/335/599/png-clipart-computer-icons-symbol-credit-values-miscellaneous-angle.png);
  }
  
  .demo__card-info {
    width: 70%;
    margin-left: 9px;
    margin-right: 9px;
  }
  .demo__card-caption {
    width: 100%;
    font-weight: 700;
  }
  .demo__card-description {
    min-height: 37.5px;
    font-size: 13.75px;
  }
  
  .demo__card-button {
    padding-top: 4.5px;
    padding-left: 18px;
    color: #6b6281;
    cursor: pointer;
  }
 
  
=======

demo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
    background-color: #feca45;
  }
  .demo__description {
    font-size: 20px;
    padding-bottom: 20px;
  }
  .demo__phone {
    display: -webkit-inline-box;
    position: relative;
    width: 305.25px;
    height: 633px;
    padding-top: 1px;
    background-color: #120d30;
    border-radius: 40px;
  }
  .demo__notch {
    position: absolute;
    top: 0px;
    left: 74.25px;
    height: 22.5px;
    width: 132.75px;
    background-color: #120d30;
    border-radius: 0 0 15px 15px;
  }
  .demo__screen {
    position: relative;
    height: 609px;
    width: 281.25px;
    padding-top: 25px;
    background: linear-gradient(#4cb3c5, #ccc6e0);
    border-radius: 30px;
    cursor: -webkit-grab;
    cursor: grab;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    perspective: 700px;
  }
  .demo__screen-wrapper {
    position: relative;
    height: 609px;
    width: 281.25px;
    margin-top: 11px;
    margin-left: 12px;
    overflow: hidden;
    border-radius: 30px;
  }
  .demo__indicator {
    position: absolute;
    top: 2.5px;
    font-size: 11px;
    color: white;
  }
  .demo__indicator--time {
    left: 18.75px;
  }
  
  .demo__controls {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 6.25px 0;
    font-size: 18.75px;
    
  }
  
  .demo__card {
    position: relative;
    margin: 9px;
    height: 142.5px;
    width: calc(100% - 18px);
    font-size: 17.5px;
    border-radius: 5px;
    transform-style: preserve-3d;
  }
  
  
  .demo__card-frontside {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 9px;
    padding-bottom: 4.5px;
    background-color: rgb(233, 219, 219);
    border-radius: 5px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .demo__card-type {
    padding-left: 18px;
    font-size: 13.5px;
    color: #aaa;
  }
  .demo__card-body {
    display: flex;
    align-items: center;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 9px;
    padding-bottom: 9px;
  }
  .demo__card-picture {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .demo__card-picture-contatti {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKpn4d4p8frRVTjDIXn-cxLfjHrzxvt4ibpSwjELOzPcfWfH0RLB0RiNKXCVEEviPkBkU&usqp=CAU);
  }
  .demo__card-picture-telefono {
    background-image: url(https://banner2.cleanpng.com/20180323/yie/kisspng-iphone-telephone-call-smartphone-clip-art-phone-5ab5b8cb2a1c31.3051321715218587631725.jpg);
  }
  .demo__card-picture-costi {
    background-image: url(https://e7.pngegg.com/pngimages/335/599/png-clipart-computer-icons-symbol-credit-values-miscellaneous-angle.png);
  }
  
  .demo__card-info {
    width: 70%;
    margin-left: 9px;
    margin-right: 9px;
  }
  .demo__card-caption {
    width: 100%;
    font-weight: 700;
  }
  .demo__card-description {
    min-height: 37.5px;
    font-size: 13.75px;
  }
  
  .demo__card-button {
    padding-top: 4.5px;
    padding-left: 18px;
    color: #6b6281;
    cursor: pointer;
  }
 
  
>>>>>>> ff596c00807040fb14a60d577becd26baf5a4f28
  