<<<<<<< HEAD
main #iconRightTop .svg-container {
    padding: 5px 10px;
    color: $secondary-color;
    cursor: pointer;
    
=======
main #iconRightTop .svg-container {
    padding: 5px 10px;
    color: $secondary-color;
    cursor: pointer;
    
>>>>>>> ff596c00807040fb14a60d577becd26baf5a4f28
}