<<<<<<< HEAD
nav {
    background-color: $primary-color;
    color: $secondary-color;
    font-family: Cambria, Cochin, Georgia, Times, 
    'Times New Roman', serif;

}

.navbar-brand img {
    width: 100px;
}

ul {
    li{
        flex-direction: row;
        margin-right: 8px;
    }
}
    


li {
    .profile-img {
        width: 35px;
    }
}

nav img {
    width: 15%;
}

=======
nav {
    background-color: $primary-color;
    color: $secondary-color;
    font-family: Cambria, Cochin, Georgia, Times, 
    'Times New Roman', serif;

}

.navbar-brand img {
    width: 100px;
}

ul {
    li{
        flex-direction: row;
        margin-right: 8px;
    }
}
    


li {
    .profile-img {
        width: 35px;
    }
}

nav img {
    width: 15%;
}

>>>>>>> ff596c00807040fb14a60d577becd26baf5a4f28
