<<<<<<< HEAD
body {
    margin: 0;
  }
  
  ul {
    list-style-type: none;
}

h1 {
    font-size: 4rem;
    margin-bottom: 30px;
  }

  p {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }

  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
  }
=======
body {
    margin: 0;
  }
  
  ul {
    list-style-type: none;
}

h1 {
    font-size: 4rem;
    margin-bottom: 30px;
  }

  p {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }

  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
  }
>>>>>>> ff596c00807040fb14a60d577becd26baf5a4f28
  