body {
    background-color: rgb(203, 255, 14);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    
}

#logoNav {
  width: 50px;
}

