// @import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Oswald:wght@600&display=swap");

// :root {
// 	--border-width: 2px;
// }



// * {
// 	box-sizing: border-box;
// }

// h2 {
// 	margin-bottom: 0.75rem;
// 	font-family: "Oswald", sans-serif;
// 	font-weight: 600;
// 	opacity: 0.9;
// 	font-size: 1.5rem;
// 	letter-spacing: 0.125rem;
// 	text-transform: uppercase;
// }

// p {
// 	opacity: 0.6;
// 	line-height: 1.5;
// }

// .cards {
// 	display: flex;
// 	justify-content: center;
// 	gap: 1rem;
// }

// .card {
// 	position: relative;
// 	width: 20rem;
// 	height: 25rem;
// 	padding: var(--border-width);
// 	z-index: 2;

// 	border-radius: 1rem;
// 	transform: scale(0.98);
// 	transition: transform 200ms ease-in-out, z-index 600ms;

// 	cursor: pointer;

// 	.content {
// 		height: 100%;
// 		width: 100%;
// 		padding: 1rem;

// 		background: #edf1fc;
// 		border-radius: calc(1rem - var(--border-width));
// 		overflow: hidden;

// 		img {
// 			width: calc(100% + 2rem);
// 			height: 10rem;
// 			margin: -1rem;
// 			margin-bottom: 1rem;
// 			object-fit: cover;
// 			object-position: center;
// 		}
// 	}

// 	&::before {
// 		content: "";
// 		position: absolute;
// 		height: 30rem;
// 		width: 30rem;
// 		top: 50%;
// 		left: 50%;
// 		z-index: -1;
// 		border-radius: 80%;
// 		filter: blur(8rem);
// 		background: conic-gradient(#12c2e9, #c471ed, #f64f59, #c471ed, #12c2e9);
// 		animation: spin-shadow 3s linear infinite;

// 		opacity: 0;
// 		transition: opacity 500ms ease-in-out;
// 	}

// 	.border {
// 		position: absolute;
// 		inset: 0;
// 		border-radius: 1rem;
// 		overflow: hidden;

// 		&::before {
// 			content: "";
// 			position: absolute;
// 			width: 29rem;
// 			height: 29rem;
// 			top: 50%;
// 			left: 50%;
// 			z-index: -1;
// 			background: conic-gradient(#12c2e9, #c471ed, #f64f59, #c471ed, #12c2e9);
// 			opacity: 0;
// 			transition: opacity 300ms ease-in-out;
// 			animation: spin 3s linear infinite;
// 		}
// 	}

// 	&:hover {
// 		transform: translateY(-0.5rem);
// 		z-index: 3;
// 		&::before {
// 			opacity: 0.9;
// 		}

// 		.border::before {
// 			opacity: 1;
// 		}
// 	}
// }

// @keyframes spin {
// 	0% {
// 		transform: translate(-50%, -50%) rotate(0deg);
// 	}
// 	100% {
// 		transform: translate(-50%, -50%) rotate(360deg);
// 	}
// }

// @keyframes spin-shadow {
// 	0% {
// 		transform: translate(-50%, calc(-50% + 2rem)) scale(0.8) rotate(0deg);
// 	}
// 	100% {
// 		transform: translate(-50%, calc(-50% + 2rem)) scale(0.5) rotate(360deg);
// 	}
// }



.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    display: flex;
    justify-content: space-between;
    width: 190px;
    
    color: #001346;
    background-color: #fff;
    align-self: center;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    cursor: pointer;
    border-radius: 10px;
    margin: 10px 10px;
    z-index: 1;
}

.card-header {
    background-image: linear-gradient(to left bottom, #0ab8f6, #8500ff);
    border-radius: 10px 10px 50% 0;
    box-shadow: 0 -6px 8px rgba(0,0,0,.3) inset;
    padding: 10px 30px;
}

.card-header h2 {
    transition: all .3s cubic-bezier(1, 0, 0, 1);
}

.card-header img {
    width: 100%;
    transition: all .3s cubic-bezier(1, 0, 0, 1);
}

.card-body {  
    padding: 10px 30px;
}

.card-body p {
    
    text-align: center;
    transition: all .3s cubic-bezier(1, 0, 0, 1);
}

.card-price {    
    padding: 10px 20px;
    font-weight: 700;
    transition: all .3s cubic-bezier(1, 0, 0, 1);
}

.card:hover {
    color: #9a3200;
}

.card:hover .card-header {
    background-image: linear-gradient(to right top, #fb0000, #ffbc00);
}

.card:hover .card-header h2 {
    text-shadow: 40px 25px 5px rgba(0,0,0,.2);
    transform: translate(-50px, -30px) scale(1.2);
}

.card:hover .card-header img {
    filter: drop-shadow(-40px 20px 7px rgba(0,0,0,.3));
    transform: translate(50px, -25px) scale(1.1);
}

.card:hover .card-body p {
    transform: translateY(-5px) scale(1.2);
    text-shadow: 0 5px 5px rgba(0,0,0,.3);
}

.card:hover .card-body .card-price {
    transform: translate(-50px, 20px) scale(1.2);
    text-shadow: 30px -15px 5px rgba(0,0,0,.5);
}