// html,
// body {
// 	align-items: center;
// 	height: 100%;
// 	width: 100%;
// 	background: #101520;
// 	font-family: "Inter", sans-serif;
// 	font-weight: 200;
// 	color: white;
// }



main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


