html,
body {
    padding: 0;
    margin: 0;
    
    font-family: 'Roboto';
    background-image: linear-gradient(to right top, #2b77e9, #272727);
}

body::after {
    content: 'SmartphoneShopWorld';
    font-weight: 300;
    font-size: 400px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
    opacity: .3;
}

h2 {
    margin: auto;
    font-size: 1.5rem;
    font-weight: 100;
    animation: lights 3s 750ms linear infinite;
  }