<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@400;700&display=swap');

html, body {
    height: 100%;
}


body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.texTrendPad {
    padding-left: 100px;
    padding-right: 100px;
}

@media screen and (max-width:850px) {
    .texTrendPad {
        padding-left: 50px;
        padding-right: 50px;
    }
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffc017;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    transition: background-color 0.5s;
}

.vanillaNav {
    background-color: #ffc017;
}



nav object {
    width: 95%;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

ul li {
    margin: 0 8px;
    cursor: pointer;
}

ul li button {
    border: none;
    color: white;
    background-color: black;
    border-radius: 20px;
    padding: 5px 8px;
    transition: background-color 0.5s;
}

@media screen and (max-width:552px) {
    .mobile-none {
        display: none;
    }
}

.vanillaBtn {
    background-color: black;
}

h1 {
    font-size: 3.5em;
    font-weight: bold;
    font-family: 'Spectral', sans-serif;
}

.footHeader {
    display: flex;
    padding-left: 100px;
    align-items: center;
    justify-content: space-between;
    background-color: #ffc017;
    border-bottom: 1.5px solid black;
}

.heading {
    padding: 30px 0;
    flex-grow: 1;
}

.heading p {
    margin: 20px 0;
    font-weight: bold;
}

.heading button {
    padding: 7px 30px;
    background-color:black;
    border: none;
    border-radius: 25px;
    color: white;
}

@media screen and (max-width:850px) {
    h1 {
        font-size: 2.8em;
    }
    .heading p {
        font-size: 0.9em;
    }
    .svgContainer {
        width: 50%;
    }
}

@media screen and (max-width:552px) {
    .svgContainer {
        display: none;
    }

    .footHeader {
        padding-left: 20px;
        padding-right: 20px;
    }
}


.topTrendSection {
    padding-top: 40px;
    border-bottom: 1.5px solid black;
}

.titleTrend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 50px;
}

.titleTrend object {
    width: 20px;
    margin-right: 5px;
}

.allTrendNews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 0.6em;
    font-weight: bold;
    margin-left: 50px;
}

.allTrendArticle {
    display: flex;
    width: 30%;
    margin-bottom: 35px;
}

@media screen and (max-width:850px) {
    .allTrendArticle {
        width: 48%;
    }
}

@media screen and (max-width:552px) {
    .allTrendArticle {
        width: 100%;
    }
}

.trendTextWriter {
    display: flex;
    flex-direction: column;
}

.allTrendArticle h3 {
    font-size: 1.6em;
    color: lightgrey;
    font-weight: bold;
    margin-right: 10px;
}

.trendTextWriter img {
    width: 25px;
    border-radius: 100%;
    margin-right: 6px;
}

.trendWriterProfile {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 0.9em;
}

.trendWriterProfile span {
    font-weight: normal;
}

.miniTitleTrend {
    margin-bottom: 12px;
    cursor: pointer
}

.dateTrendArt {
    font-weight: normal;
}

.mainContainer {
    margin-top: 50px;
    display: flex;
}

.articleText {
    width: 50%;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:850px) {
    .main-container {
        flex-direction: column;
        margin-top: 30px;
    }

    .articles-list {
        width: 100%;
        order: 2;
    }
}

.secondArticleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.6em;
    margin-bottom: 40px;
    margin-left: 50px;
}

.articleInfo {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.secondArticleWriter {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.secondArticleWriter img {
    border-radius: 100%;
    width: 25px;
    margin-right: 6px;
}

.articleTitle h3 {
    font-size: 1.5em;
    font-weight: bold;
}

.articleContent {
    margin-top: 15px;
}

.articleContent p {
    color: rgb(128, 128, 128);
    font-size: 1.2em;
}

.articleDate {
    margin-top: 15px;
    display: flex;
    align-items: center;
    font-size: 0.9em;
}

.articleDate p {
    margin-right: 10px;
}

.articleDate button {
    border: none;
    border-radius: 20px;
    padding: 3px 8px;
    margin-right: 10px;
    font-size: 1.0em;
    cursor: pointer;
}

.articleDate object:nth-of-type(1) {
    margin-right: 15px;
}

@media screen and (max-width:552px) {
    .articleDate p {
        margin-right: 5px;
        font-size: 0.9em;
    }
    .articleDate button {
        margin-right: 5px;
        padding: 2px 6px;
        font-size: 0.9em;
    }
    .article-content {
        padding-right: 5px;
    }
}

.imgContainer {
    width: 30%;
}

.imgContainer img {
    width: 90%;
}

.rightSideContainer {
    position: sticky;
    top: 45px;
}

aside {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 15px;
    width: 40%;
}

.asideTitle h4 {
    font-size: 0.7em;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 10px;
}

@media screen and (max-width:850px) {
    aside {
        width: 100%;
        margin-bottom: 40px;
        padding-left: 0;
        padding-right: 0;
    }
}

.buttonsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.buttonsContainer button {
    border: 1px solid lightgray;
    background-color: transparent;
    font-size: 10px;
    padding: 5px 8px;
    margin-bottom: 8px;
    color:grey;
    cursor: pointer;
}

@media screen and (max-width:850px) {
    .btns-container {
        justify-content: flex-start;
        margin-bottom: 10px;
    }
    .btns-container button {
        margin-right: 10px;
    }
}

hr {
    margin: 2px;
    color: grey;
}

@media screen and (max-width:850px) {
    .see-more {
        padding-bottom: 15px;
    }
}

.rightSideLinksContainer {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.8em;
    color: grey;
}

.rightSideLinksContainer p {
    margin-bottom: 10px;
    cursor: pointer;
    padding-right: 15px;
=======
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@400;700&display=swap');

html, body {
    height: 100%;
}


body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.texTrendPad {
    padding-left: 100px;
    padding-right: 100px;
}

@media screen and (max-width:850px) {
    .texTrendPad {
        padding-left: 50px;
        padding-right: 50px;
    }
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffc017;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    transition: background-color 0.5s;
}

.vanillaNav {
    background-color: #ffc017;
}



nav object {
    width: 95%;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

ul li {
    margin: 0 8px;
    cursor: pointer;
}

ul li button {
    border: none;
    color: white;
    background-color: black;
    border-radius: 20px;
    padding: 5px 8px;
    transition: background-color 0.5s;
}

@media screen and (max-width:552px) {
    .mobile-none {
        display: none;
    }
}

.vanillaBtn {
    background-color: black;
}

h1 {
    font-size: 3.5em;
    font-weight: bold;
    font-family: 'Spectral', sans-serif;
}

.footHeader {
    display: flex;
    padding-left: 100px;
    align-items: center;
    justify-content: space-between;
    background-color: #ffc017;
    border-bottom: 1.5px solid black;
}

.heading {
    padding: 30px 0;
    flex-grow: 1;
}

.heading p {
    margin: 20px 0;
    font-weight: bold;
}

.heading button {
    padding: 7px 30px;
    background-color:black;
    border: none;
    border-radius: 25px;
    color: white;
}

@media screen and (max-width:850px) {
    h1 {
        font-size: 2.8em;
    }
    .heading p {
        font-size: 0.9em;
    }
    .svgContainer {
        width: 50%;
    }
}

@media screen and (max-width:552px) {
    .svgContainer {
        display: none;
    }

    .footHeader {
        padding-left: 20px;
        padding-right: 20px;
    }
}


.topTrendSection {
    padding-top: 40px;
    border-bottom: 1.5px solid black;
}

.titleTrend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 50px;
}

.titleTrend object {
    width: 20px;
    margin-right: 5px;
}

.allTrendNews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 0.6em;
    font-weight: bold;
    margin-left: 50px;
}

.allTrendArticle {
    display: flex;
    width: 30%;
    margin-bottom: 35px;
}

@media screen and (max-width:850px) {
    .allTrendArticle {
        width: 48%;
    }
}

@media screen and (max-width:552px) {
    .allTrendArticle {
        width: 100%;
    }
}

.trendTextWriter {
    display: flex;
    flex-direction: column;
}

.allTrendArticle h3 {
    font-size: 1.6em;
    color: lightgrey;
    font-weight: bold;
    margin-right: 10px;
}

.trendTextWriter img {
    width: 25px;
    border-radius: 100%;
    margin-right: 6px;
}

.trendWriterProfile {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 0.9em;
}

.trendWriterProfile span {
    font-weight: normal;
}

.miniTitleTrend {
    margin-bottom: 12px;
    cursor: pointer
}

.dateTrendArt {
    font-weight: normal;
}

.mainContainer {
    margin-top: 50px;
    display: flex;
}

.articleText {
    width: 50%;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:850px) {
    .main-container {
        flex-direction: column;
        margin-top: 30px;
    }

    .articles-list {
        width: 100%;
        order: 2;
    }
}

.secondArticleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.6em;
    margin-bottom: 40px;
    margin-left: 50px;
}

.articleInfo {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.secondArticleWriter {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.secondArticleWriter img {
    border-radius: 100%;
    width: 25px;
    margin-right: 6px;
}

.articleTitle h3 {
    font-size: 1.5em;
    font-weight: bold;
}

.articleContent {
    margin-top: 15px;
}

.articleContent p {
    color: rgb(128, 128, 128);
    font-size: 1.2em;
}

.articleDate {
    margin-top: 15px;
    display: flex;
    align-items: center;
    font-size: 0.9em;
}

.articleDate p {
    margin-right: 10px;
}

.articleDate button {
    border: none;
    border-radius: 20px;
    padding: 3px 8px;
    margin-right: 10px;
    font-size: 1.0em;
    cursor: pointer;
}

.articleDate object:nth-of-type(1) {
    margin-right: 15px;
}

@media screen and (max-width:552px) {
    .articleDate p {
        margin-right: 5px;
        font-size: 0.9em;
    }
    .articleDate button {
        margin-right: 5px;
        padding: 2px 6px;
        font-size: 0.9em;
    }
    .article-content {
        padding-right: 5px;
    }
}

.imgContainer {
    width: 30%;
}

.imgContainer img {
    width: 90%;
}

.rightSideContainer {
    position: sticky;
    top: 45px;
}

aside {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 15px;
    width: 40%;
}

.asideTitle h4 {
    font-size: 0.7em;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 10px;
}

@media screen and (max-width:850px) {
    aside {
        width: 100%;
        margin-bottom: 40px;
        padding-left: 0;
        padding-right: 0;
    }
}

.buttonsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.buttonsContainer button {
    border: 1px solid lightgray;
    background-color: transparent;
    font-size: 10px;
    padding: 5px 8px;
    margin-bottom: 8px;
    color:grey;
    cursor: pointer;
}

@media screen and (max-width:850px) {
    .btns-container {
        justify-content: flex-start;
        margin-bottom: 10px;
    }
    .btns-container button {
        margin-right: 10px;
    }
}

hr {
    margin: 2px;
    color: grey;
}

@media screen and (max-width:850px) {
    .see-more {
        padding-bottom: 15px;
    }
}

.rightSideLinksContainer {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.8em;
    color: grey;
}

.rightSideLinksContainer p {
    margin-bottom: 10px;
    cursor: pointer;
    padding-right: 15px;
>>>>>>> ff596c00807040fb14a60d577becd26baf5a4f28
}