/* You can add global styles to this file, and also import other style files */

// Componente 1
.component1 {
    h1 {
      color: black;
    }
  
    p {
        font-size: medium;
      color: yellow;
    }
  }
  
  // Componente 2
  .component2 {
    h2 {
      color: yellow;
    }
  }
  
  // Componente 3
  .component3 {
    small {
      color: lightblue;
    }
  }
  