<div class="container">
  <h1>Completed</h1>
  <div class="loading" *ngIf="loading">
    Task in caricamento...
  </div>
  <div *ngIf="!loading && completedTodos.length === 0">
    Task non trovate.
  </div>
  <div class="card-container" *ngIf="!loading && completedTodos.length > 0">
    <div class="card" *ngFor="let todo of completedTodos">
      <div class="card-header">
        <h2>{{ todo.title }}</h2>
      </div>
      <div class="card-body">
        <button (click)="removeTodoById(todo.id)">Remove</button>
      </div>
    </div>
  </div>
</div>
