<<<<<<< HEAD
h1 {
  display: flex;
  justify-content: center;
  color: black;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 35px;
  color: yellow;
}

p {
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: rgb(138, 6, 6)
}

small {
  display: flex;
  justify-content: center;
  color: red;
  font-size: 20px;
  font-weight: bold;
=======
h1 {
  display: flex;
  justify-content: center;
  color: black;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 35px;
  color: yellow;
}

p {
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: rgb(138, 6, 6)
}

small {
  display: flex;
  justify-content: center;
  color: red;
  font-size: 20px;
  font-weight: bold;
>>>>>>> ff596c00807040fb14a60d577becd26baf5a4f28
}